{% extends "stats/base.html" %}

{% block content %}
{% comment %} <p>Estatísticas sobre o COVID-19 atualizadas frequentemente</p> {% endcomment %}
<p id="top">Estatísticas atualizadas em: {{editado.last_modified}}</p>

{% comment %} <div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-home"></i></a>
  <a href="#"><i class="fa fa-search"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
  <a href="#"><i class="fa fa-globe"></i></a>
  <a href="#"><i class="fa fa-trash"></i></a>
</div> {% endcomment %}

{% comment %} <a id="button"></a> {% endcomment %}

<table class="styled-table">
<thead>
  <tr>
    <th>País</th>
    <th>Rank</th>
    <th>População</th>

    <th>Total de casos</th>
    <th>Casos ativos</th>

    <th>Total de mortos</th>
    <th>Total de vacinados</th>
  </tr>
  </thead>
  <tbody>
  {% for country in countries %}
  <tr>
    <td name={{country.name}} class='texto-bandeira'><img src="{{country.flag_url}}" class="logo" onmouseover="this.src='{{country.flag_url_shiny}}')" onmouseout="this.src='{{country.flag_url}}')"/><a href="/country/{{country.name}}" class="a">{{country.name_pt}}</td>
    <td>{{country.rank}}</td>
    <td>{{country.population}}</td>

    <td>{{country.total_cases}}</td>
    <td>{{country.active_cases}}</td>

    <td>{{country.total_deaths}}</td>
    <td>{{country.total_vaccinated}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% comment %} <a id="back2Top" title="Back to top" href="#top">&#10148;</a> {% endcomment %}


{% comment %} <a href="#top" class="cd-top text-replace js-cd-top">Top</a> {% endcomment %}

{% comment %} <div class="back-to-top-wrapper">
  <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">🔝</a>
</div> {% endcomment %}

<button onclick="topFunction()" id="myBtn" title="Go to top">☝️</button>
{% comment %} <button id="scrollToTopBtn" onclick="topFunction()" title="Go to top">☝️</button> {% endcomment %}

{% endblock %}
